/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:500; }
ol, ul { list-style:none; }
fieldset, img { border:none 0; }
html { color:#333; background-color:#fff; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; font-family: "\5FAE\8F6F\96C5\9ED1",Helvetica;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
body { font-size:100%; -webkit-user-select:none;}
button, input, select, textarea { font-size:100%; -webkit-border-radius:0; border-radius:0;}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; -webkit-appearance:button; }
table { border-collapse:collapse; border-spacing:0; }
th { text-align:inherit; }
img, object, video, embed { max-width:100%; vertical-align:middle;}

a { color:#333; text-decoration:none; }
.left { float:left; }
.right { float:right; }
.clear { clear:both; display:block; height:0; visibility:hidden; font:0/0 arial; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0; }
.clearfix { *zoom:1;}

/*header*/
header{height:3.125em; background-color:#ffd600;}
header nav{float:left; line-height:3.125em;}
header nav div{float:left;}
header nav .nav-main{padding:0 1.25em 0 1.875em; border-right:1px solid #e9b209;}
header nav .nav-mysohu{border-right:1px solid #ffe03e;}
header nav .nav-mysohu a{display:inline-block; padding:0 1.125em; border-left:1px solid #ffe03e; border-right:1px solid #e9b209;}
header .search{float:right; height:2em; line-height:2em; border:1px solid #e6e6e6; margin:0.5em 1.875em 0 0;}
header .search .text{float:left; width:13.75em; height:2em; padding:0 0.3125em; border:none 0; background-color:#fff; -webkit-appearance:none; outline:none;}
header .search .submit{float:left; width:5.375em; height:2em; border:none 0; background-color:#f0f0f0; text-align:center;}

article .article-more i{background-image:url(images/bg.png); background-size:320px auto;}

.sub-nav{height:1.375em; padding:0.875em 0; margin:0 0.625em; border-bottom:3px solid #346890;}
.sub-nav .logo{float:left; height:22px;}
.sub-nav .logo img{vertical-align:top;}
.sub-nav .sub-nav-list{float:left; padding-left:0.75em;}
.sub-nav .sub-nav-list li{float:left; line-height:1.375em;}
.sub-nav .sub-nav-list a{padding:0 1em;}

/*文章内容区*/
article{padding:0 0.625em;}
article h1{line-height:2.25rem; font-size:1.625em; padding:1.875rem 0 0; text-align:center;}
article .article-desc{height:1.625em; line-height:1.625em; padding:1em 0 1.25em; color:#999; text-align:center; overflow:hidden;}
article .article-desc .source{margin:0 1em;}
article .article-desc a{color:#059;}
article .article-summary{padding:0.875em 1.75em; line-height:1.875em; border:1px solid #e8e8e8; text-indent:2em;color:#999; margin-bottom:0.5em;}
article .article-pic{text-align:center; padding:1.125rem 0;}
article  p{font-size:1em; line-height:1.75em; color:#333; text-indent:2em; padding:0.875em 0;}
article .video{max-width:450px; margin:0 auto; padding: 0.875em 0;}
article .article-more{text-align:center; text-indent:0;}
article .article-more a{display:inline-block; line-height:2em; padding:0 2px; background-color:#f6f6f6; border:1px solid #e8e8e8;}
article .article-more i{display:inline-block; width:10px; height:10px; background-position:0 0; margin:0 1em;}

/*评论区*/
#SOHU-comment-main, .sohu-comment-windows,#SOHU-comment-main .sohu-comment-wrapper .sohu-issue-headimg-manage .sohu-issue-manage .Ftxtarea-keydown .Ftxtarea{font-family: "\5FAE\8F6F\96C5\9ED1",Helvetica;}
.comment{margin:0 0.625em; border-top:3px solid #346890;}


@media screen and (max-width:639px){
	header nav .nav-main{padding:0 0.75em 0 1em;}
	header nav .nav-mysohu a{padding:0 0.75em;}
	header .search{display:none;}
	.sub-nav{display:none;}
	article h1{font-size:1.375em; line-height:1.875rem; padding:0.875rem 0 0;}
	article .article-desc{padding:0.5em 0 0.1875em; margin:0 0 0.5em; border-bottom:1px solid #e3e3e3;}
	article .article-desc .source{display:none;}
	article .article-desc .time{float:left;}
	article .article-desc .comm{float:right;}
	article .article-summary{display:none;}
	article .video video,article .video embed{height:300px;}
}

@media screen and (max-width:480px){
	article .video video,article .video embed{ max-height:240px;}
}

@media screen and (min-width:481px){
	/*article .article-pic{max-width:450px; max-height:350px; overflow:hidden; margin:0 auto;}*/
}

@media screen and (min-width:640px){
	.sub-nav{margin:0 0.9375em;}
	article{padding:0 3.125em;}
	.comment{padding:0 0.925em;}
	article .video video,article .video embed{height:375px;}
	article .article-pic{max-width:450px; max-height:350px; overflow:hidden; margin:0 auto;}
}

@media screen and (min-width:1024px){
	h1{}
}

/*高dpi图标处理*/
@media screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:1.5 / 1), only screen and (min-device-pixel-ratio:1.5), only screen and (min-resolution:192dpi), only screen and (min-resolution:2dppx) {
	#channel-nav .logo{background-image:url(http://m.tv.sohu.com/upload/touch/120711/skin/images/logo@2x.png);
}
